html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

main {
  padding: 2rem;
}

.card-panel {
  padding: 2rem;
}

pre {
  background-color: #212121;
  color: #00e676;
  padding: 1rem;
  overflow-x: auto;
  font-family: monospace;
}
